*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06283D;
}

.container{
    position: relative;
    width: 450px;
    height: 105px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box i{
    position: absolute;
    color: #06283D;
    font-size: 28px;
}

.search-results {
    background: #fff;
    width: 100%;
    display: none;
    margin-top: 20px;
    max-height: 280px;
    overflow-y: auto;
}

.result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    font-family: 'Poppins', sans-serif;
}

.res-geo { 
    width: 45%; 
    font-size: 14px; 
    color: #06283D; 
    font-weight: 600; 
}

.res-temp { 
    width: 15%; 
    font-weight: 700; 
    color: #06283D; 
}

.res-icon img { 
    width: 30px; 
}

.res-coords { 
    width: 25%; 
    font-size: 11px; 
    color: #888; 
    text-align: right; 
}

.weather-box { 
    text-align: center; 
}

.weather-box img { 
    width: 60%; 
    margin-top: 30px; 
}

.weather-box .temperature { 
    color: #06283D; 
    font-size: 4rem; 
    font-weight: 800; 
    margin-top: 30px; 
}

.weather-details { 
    display: flex; 
    justify-content: space-between; 
    margin-top: 30px; 
}

.weather-details i { 
    color: #06283D; 
    font-size: 26px; 
}

.not-found { 
    width: 100%; 
    text-align: center; 
    margin-top: 50px; 
    scale: 0; 
    opacity: 0; 
    display: none; 
}

.fadeIn
{ 
    animation: 0.5s;
    fadeIn forwards; 
    animation-delay: 0.5s; 
}

@keyframes fadeIn { 
  to { 
    transform: scale(1); 
    opacity: 1; 
  } 
}